.link-item {
  text-decoration-line: none;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .link-item {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .link-item {
    width: 33%;
  }
}
